body{
    height: 100vh;
    background-color: aqua;
}

.buscador{
    background: linear-gradient(180deg, rgb(52, 58, 105) 30%, rgb(52, 58, 105) 20%, rgb(126, 73, 172) 100%);
}

.tar{
    width: 30em;
}
.tarjeta{
    border: 1px solid black;
    background-color: aqua;
}

.tit{
    background-color: rgb(52, 58, 105);
}

.btn, .btn:hover, .btn:active, .btn:visited {
    background-color: #8064A2 !important;
    
}